extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleabout.css
      

block content 
    div.container   
        div.box  
            h2 Online Dance Classes 
            p  A dance studio that's refreshingly different.
            p  If you’re searching for a studio that is non competitive, has high level training,      focuses on self care, supportive and encouraging faculty then you’ve found your second home.

            p  On this page you'll find everything you need to decide if you’d like to be apart of the UDA Family.

            p   We hope to see you soon!
            div.card1 
                h2 What Makes Us Different?
                div.card1-content
                    p  We're a unique Dance Studio in Chhattisgarh.At DSA, you become a part of a family that supports and encourages one another.Your child won’t feel left out or overshadowed by others, because no matter their age or skill level everyone is treated equally.
            div.card1 
                h2 Benefits of Dance
                div.card1-content
                    p  Dance is exercise, so the physical benefits of dancing will be similar to that of other cardio activities.Plus, unlike other forms of exercise, dance has the additional benefits of improving balance through rhythm and music.
                
           
            
