doctype html
html
  head
    title Utkarsh Dance Academy
    block scripts
    block style
  body
    nav#navbar
          ul
            div#logo
                img(src="/static/10.png")
                |UDA
            li #[a(href="/") Home]               
            li #[a(href="/about") About Us]                
            li #[a(href="/services") Services]              
            li #[a(href="/class") Class Info]             
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright @ 2021 UtkarshDanceAcademy.com | All rights reserved     
  
        