extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleservices.css

block content 
      div.services
          h1 BENEFITS OF OUR CLASS 
          p Free trial for 1 month 
          p Fees can be payed in installment 
          p Can be quited at anytime with 50% of submitted fees 
          p Recorded vedios will be provided in case you miss the class 
          p you can ask any query regarding dance step directly from experts
          p We also have seperate classes for girls


                
