body{
    background: url('/static/bgimg3.jpg') center/cover no-repeat;
    
}

h1{
    color: rgb(215 220 142);
    font-size: 73px;
}

.services{
    text-align: center;
}

.services p{
    font-size: 42px;
    color: rgb(200 205 186);
    margin: 14px 25px;
    padding: 14px 32px ;
    
}
